#search {
    position: relative;
}

@media (max-width: 768px) {
    #search,
    #search input {
        width: 100%;
    }
}

#result {
    position: absolute;
    left:0;
    top:100%;
    z-index: 100;
    width:100%;
}